<% var button_text = bill.id ? "Update Bill" : "Create Bill" %>


  <form 
        class="<%= bill.id ? "" : "add-bill"  %> hidden bill-form form-inline" 
        data-id="<%= bill.id ? bill.id : "0" %>" role="form">

    <div form-group>
      <label>Date: 
        <input type="date" class="form-control"name="bill[date]" id=""
        value="<%= bill.escape('date')%>" />
      </label>
      
    </div>

    <div form-group>
      <label>Bill Name: 
        <input type="text" class="form-control" name="bill[name]" id=""
        value="<%= bill.escape('name') %>"/>
      </label>
    </div>

    <label>Bill Amount: 
      <input type="number" class="form-control" name="bill[amount_cents]" id=""
     value="<%=bill.escape('amount_cents') %>"/>
    </label>

    <div form-group>
      <label>With: 
        <div class="debtor-selects"></div>
      </label>
    </div>
      
      
      <a class="add-debtor btn btn-primary btn-sm" type="submit">Add
      Payee</a>
    <button class="<%= bill.id ? "update-bill" : "create-bill"  %> submit-bill btn btn-primary btn-sm" type="submit">
      <%=button_text %>
    </button>

    <button class="cancel-bill btn btn-danger btn-sm" type="submit">
      Cancel
    </button>
  </form>





