<div class="form-group">
  <label class="col-md-2 control-label">Date:</label>
  <div class="col-md-6">
    <input type="date" class="form-control"name="bill[date]" id=""
    value="<%= bill.escape('date')%>" />
  </div>
  
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Bill Name:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="bill[name]" id=""
      value="<%= bill.escape('name') %>"/>
    </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Bill Amount:</label>
  <div class="col-md-6">
    <input type="number" class="form-control" name="bill[amount]" id=""
   value="<%=bill.escape('amount') %>"/>
 </div>
</div>


<div class="form-group">
  
    <label class="col-md-2 control-label">With: </label>
    <select data-placeholder="Enter other bill payees" multiple
      class="col-md-4 form-control chosen-select" name="bill[debtor_ids][]" >
      <% friends.forEach(function(friend) { %>
        <option value="<%= friend.get('id') %>" >
          <%= friend.escape('name') %>
        </option>
      <% }) %>
    </select>
    
  </div>
</div>

<!-- <input class="form&#45;control pull&#45;right" type="number" name="bill[debtor_pcts[]" id="" value="" /> -->
<!--   <span class="input&#45;group&#45;addon">%</span> -->
<!-- <button type='button' class='close' data&#45;dismiss='alert'>×</button> -->
<!--    -->
<!--   <a class="add&#45;debtor btn btn&#45;primary btn&#45;sm" type="submit">Add -->
<!--   Payee</a> -->


