<div class="form-group">
  <label for="bill_date" class="col-md-2 control-label">Date:</label>
  <div class="col-md-6">
    <input type="date" class="form-control"name="bill[date]"
    id="bill_date"
    value="<%= bill.escape('date')%>" />
  </div>
  
</div>

<div class="form-group">
  <label for="bill_name" class="col-md-2 control-label">Bill Name:</label>
    <div class="col-md-6">
      <input type="text" class="form-control" name="bill[name]"
      id="bill_name"
      value="<%= bill.escape('name') %>"/>
    </div>
</div>

<div class="form-group">
  <label for="bill_amount" class="col-md-2 control-label">Bill Amount:</label>
  <div class="col-md-6">
      <input type="number" class="form-control" name="bill[amount]"
      id="bill_amount"
     value="<%=bill.escape('amount') %>"/>
 </div>
</div>


<!-- <div class="form&#45;group"> -->
<!--    -->
<!--     <label class="col&#45;md&#45;2 control&#45;label">With: </label> -->
<!--      -->
<!--     <div class="debtor&#45;selects"> -->
<!--     </div> -->
  <!--   <select data&#45;placeholder="Enter other bill payees" multiple -->
  <!--     class="col&#45;md&#45;4 form&#45;control chosen&#45;select" name="bill[debtor_ids][]" > -->
  <!--     <% friends.forEach(function(friend) { %> -->
  <!--       <option value="<%= friend.get('id') %>" > -->
  <!--         <%= friend.escape('name') %> -->
  <!--       </option> -->
  <!--     <% }) %> -->
  <!--   </select> -->
  <!--    -->
  <!-- </div> -->
<!-- </div> -->

<div>
  
    
  <div class="form-group debtor-selects">
  </div>
  <button class="add-debtor btn btn-primary btn-sm" type="submit">Add Payee</button>
</div>



