<td>

  <a class="bill-link" data-target="#myModal" href="#"><%= bill.escape('name') %></a>

  <div class="bill-show" data-id="<%= bill.get('id') %>" class"is-active" >
    <div>Amount: <%= bill.escape('amount') %></div>

    <% debtors.forEach(function(debtor){ %>
      <%= debtor.escape('name') %> owes <%= debtor.escape('amount_owed') %>
    <% }) %>

    <div>
      <button class="edit-bill-btn btn btn-sm btn-primary" type="submit">Edit bill</button>
      <button class="delete-bill btn btn-sm btn-primary" type="submit">Delete bill</button>
    </div>
    <div>
    </div>

  </div>

  <div class="edit-bill"></div>
</td>
