<td>

  <h4><a class="bill-link" href="#"><%= bill.escape('date') %>: <%=
      bill.escape('name') %></a>
    
    <span class="pull-right">
    <% debtor = (bill.escape('net_to_current_user') > 0) %>
    (<%= debtor ? "You're owed" : "You owe"  %>
    <span class="<%= debtor ? 'text-success' : 'debit' %>">
      <%=
      accounting.formatMoney(Math.abs(bill.netToCurrentUser())) %></span>)
  </span>
  
  </h4>

  <div class="bill-show hidden" data-id="<%= bill.get('id') %>" class"is-active" >
    <div class="bill-details" data-id="<%= bill.get('id') %>">
      <% name =  (bill.escape('creditor_id') == currentUserID) ? "You" :
      bill.escape('creditor') %>
      <div><%= name %> paid <%= accounting.formatMoney( bill.escape('amount') )%></div>

      <ul>
        <% bill.debtorsBills().forEach(function(debt){ %>
        <li>
          <%= debt.escape('debtor') %> owes <%=
          accounting.formatMoney(debt.escape('amount_owed'))%> 

          <% markText = (debt.escape('paid') === "true") ? "Mark Unpaid" : "Mark Paid" %>
          <% markClass = (debt.escape('paid') === "true") ? "mark-unpaid" : "mark-paid" %>

          <a href="#" class="<%= markClass %>" data-id="<%=
            debt.get('id') %>"> <%= markText %> </a>
           

        </li>
        <% }) %>
      </ul>
      <% if (bill.get('creditor_id') == currentUserID) { %>
      <div class="pull-right"><%= JST["send_reminder"]( { bill: bill }) %></div>
      <% } %>
    </div>

    <div class="bill-edit"></div>
  </div>

</td>
<td>
  <button type='button' class='close delete-bill' data-dismiss='alert'>×</button>
</td>

