<td>

  <a class="bill-link" href="#"><%= bill.escape('date') %>: <%= bill.escape('name') %></a>

  <div class="bill-show hidden" data-id="<%= bill.get('id') %>" class"is-active" >
    <div>Paid by <%= bill.escape('creditor') %></div>
    <div>Amount: <%= accounting.formatMoney( bill.escape('amount') )%></div>

    <ul>
      <% debtors.forEach(function(debtor){ %>
      <li>
        <%= debtor.escape('name') %> owes <%=
        accounting.formatMoney(debtor.escape('amount_owed') )%>
      </li>
      <% }) %>
    </ul>

    <div>
      <button class="bill-edit-btn btn btn-sm btn-primary" type="submit">Edit bill</button>
      <button class="delete-bill btn btn-sm btn-primary" type="submit">Delete bill</button>
    </div>
    <div>
    </div>

  </div>

  <div class="bill-edit"></div>
</td>
