<h2>
  <% debtor = (user.netOwedToCurrentUser() > 0) %>
  Bills shared with <%= user.get('name') %> (<%= debtor ? "owes you" : "you owe" %> <span class="<%= debtor ? "text-success" : "debit" %>" >
    <%=
    accounting.formatMoney(Math.abs(user.netOwedToCurrentUser())) %>)
  </span>
</h2>

<div class="debtors-bills-index">

  <ul>
    <% user.dbsOwedToCurrentUser().each(function(db) { %>

      <% markText = (db.escape('paid') === "true") ? "Mark Unpaid" : "Mark Paid" %>
      <% markClass = (db.escape('paid') === "true") ? "mark-unpaid" : "mark-paid" %>
      <% statusText = (db.escape('paid') === "true") ? "Paid you" :"Owes you" %>

      <li><%= db.escape('bill_name') %>: <%= statusText %> <%=
      accounting.formatMoney(db.get('amount_owed')) %>

      <a href="#" class="<%= markClass %>" data-id="<%=db.get('id') %>"> <%= markText %> </a>
      </li>
    <% }) %>
  </ul>

  <ul>
    
    <% user.dbsOwedByCurrentUser().each(function(db) { %>

        <% markText = (db.escape('paid') === "true") ? "Mark Unpaid" : "Mark Paid" %>
        <% markClass = (db.escape('paid') === "true") ? "mark-unpaid" : "mark-paid" %>
        <% statusText = (db.escape('paid') === "true") ? "You paid" : "You owe" %>

        <li><%= statusText %>  <%=
        accounting.formatMoney(db.get('amount_owed')) %>

        <a href="#" class="<%= markClass %>" data-id="<%=db.get('id') %>"> <%= markText %> </a>
        </li>
    <% }) %>
  </ul>
</div>

