<h2>
  <% debtor = (user.get('net_owed_to_current') > 0) %>
  Bills shared with <%= user.get('name') %> (<%= debtor ? "owes you" : "you owe" %> <span class="<%= debtor ? "text-success" : "debit" %>" >
    <%=
    accounting.formatMoney(Math.abs(user.get('net_owed_to_current'))) %>)
  </span>
</h2>
<table class="table"> 
  <tbody class="dbs">
  
      <% user.dbsOwedToCurrentUser().each(function(db) { %>
      <tr>
        <td>
          <h4>
            <%= db.escape('bill_name') %> 
            <span class="text-success"><%=accounting.formatMoney(db.escape('amount_owed'))%>)</span>          
          </h4>
        </td>

      </tr>
      <% }) %>

      <tr>
        <td>You owe:</td>
      </tr>
      <% user.dbsOwedByCurrentUser().each(function(db) { %>
      <tr>
        <td>
          <h4>
            <%= db.escape('bill_name') %>
            <span class="debit pull-right"><%=
              accounting.formatMoney(db.escape('amount_owed'))%>)</span>          
          </h4>
        </td>
      </tr>
      <% }) %>

  </tbody> 
</table>

