<h2>
  <% debtor = (user.get('net_owed_to_current') > 0) %>
  Bills shared with <%= user.get('name') %> (<%= debtor ? "owes you" : "you owe" %> <span class="<%= debtor ? "text-success" : "debit" %>" >
    <%=
    accounting.formatMoney(Math.abs(user.get('net_owed_to_current'))) %>)
  </span>
</h2>

<div class="debtors-bills-index">

  <% user.dbsOwedToCurrentUser().each(function(db) { %>

  <% debugger %>
  <%= JST["debtors_bills/show"]( { debtorsBill: db } ) %>
  <% }) %>

</div>

