<div class="row">
  
  <h1>
    Welcome, <%= user.escape('name') %>!
  </h1>

</div>
<div class="row">
  <div class="col-md-6 col-offset-md-2">
    
    <h3>You owe friends: 
      <span class="debit"><%=
        accounting.formatMoney(Math.abs(user.netDebit())) %>  </span>
    </h3>

    <h3>Friends owe you: 
      <span class="text-success">
        <%= accounting.formatMoney(Math.abs(user.netCredit())) %>
      </span>
    </h3>

    <h3>Net balance:
      <% debtor = (user.escape('net_balance') > 0) %>
      <span class="<%= debtor ? 'text-success' : 'debit' %>">
        <% debugger %>
        <%= accounting.formatMoney(Math.abs(user.net_balance())) %></span>
    </h3>
  </div>
    
  
</div>


