<!DOCTYPE html>
<html>
  <head>
    <title>Split My Bills</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <% if flash[:errors] %>
    <ul style="color:red;text-shadow: 1px 1px 1px black;">
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    <br>
    <% end %>
    <% if flash[:success] %>
    <ul style="color:green;text-shadow: 1px 1px 1px black;">
      <% flash[:success].each do |success| %>
      <li><%= success %></li>
      <% end %>
    </ul>
    <br>
    <% end %>

    <% if signed_in? %>
    <ul>
      <li>Signed in as: <%= current_user.email %></li>
      <li><%= button_to "Sign Out", session_url, class: "btn btn-default", :method => :delete %></li>
    </ul>
    <% else %>
    <%= link_to "Sign In", new_session_url, class: "btn btn-default" %> or
    <%= link_to "Sign up", new_user_url, class: "btn btn-default" %>
    <% end %>

    <%= yield %>

    <script>
      var currentUserID = <%= signed_in? ? current_user.id : 0 %>
    </script>

  </body>
</html>
